body {
	background-color:#003366;
	color: rgb(221, 165, 11);
}
.navbar {
	/*background-color: rgb(221, 165, 11);*/
	/*background: -webkit-linear-gradient(right , rgb(216, 142, 37), rgb(221, 165, 11))*/
	background-color: rgb(221, 165, 11);
}
.navbar-link {
	color: #003366 !important;
	font-weight: 600;
}
a {
	text-decoration: none;
	color: inherit;
}
.btn-dark-real {
	background-color: rgb(52, 58, 64);
}
.btn-submit {
	background-color: rgb(221, 165, 11);
	color: #003366;
}
table {
	text-align: center;
	background: #fff;
	color: rgb(221, 165, 11);
	vertical-align: middle;
    border-collapse: collapse;
}
.itemTable, .itemCell {
	border: 3px solid #003366 !important;
}
.yellowCell {
	background-color: rgb(221, 165, 11);
	color: #003366;
}
.grayCell {
	background-color: white;
}
.itemName {
	text-transform: uppercase;
}
.buttonTableCell {
	width: 50px;
	text-align: center;
}
.buttonCell {
	padding: 5px;
}
.itemOrder {
	font-weight: 800;
}
.btn-width {
	width: 40px;
}
.notesCell {
	text-align: left;
}
.itemSeparatorCell {
	background-color: #003366;
}
footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:20px;
   text-align: center;
}