html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
	position: relative;
	margin: 0;
	padding-bottom: 6rem;
	min-height: 100%;
	/*font-family: "Helvetica Neue", Arial, sans-serif;*/
	font-family: 'Lato', sans-serif;
	background-color:#003366;
	color: rgb(221, 165, 11);
}
.navbar {
	background-color: rgb(221, 165, 11);
}
.navbar-link {
	color: #003366 !important;
	font-weight: 600;
}
.mlikes-brand-box {
	display: inline-block;
	padding: 10px;
	margin-top: 5px;
	margin-bottom: -5px;
	background-color: #003366;
}
.mlikes-brand {
	color: rgb(221, 165, 11) !important;
	font-weight: 600;
}
a {
	text-decoration: none;
	color: inherit;
}
.create-new-box {
	margin: 20px 10%;
}
.margin-10-percent {
	margin: auto 10%;
}
.margin-bottom-15px {
	margin-bottom:15px;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
.margin-top-18px {
	margin-top:18px
}
.margin-right-10px {
	margin-right: 10px;
}
.btn-right {
	float: right;
}
.btn-dark-real {
	background-color: rgb(52, 58, 64);
}
.btn-submit {
	background-color: rgb(221, 165, 11);
	color: #003366;
}
.itemDiv {

}
table {
	text-align: center;
	background: #fff;
	color: rgb(221, 165, 11);
	vertical-align: middle;
    border-collapse: collapse;
}
.itemTable, .itemCell {
	border: 3px solid #003366 !important;
}
.itemCell {
	vertical-align: middle;
}
.yellowCell {
	background-color: rgb(221, 165, 11);
	color: #003366;
}
.grayCell {
	background-color: white;
}
.centerText {
	text-align: center;
}
.titleCell {
	height: 70px;
	vertical-align: middle;
}
.itemName {
	text-transform: uppercase;
}
.imageDiv {
	height: 125px;
}
.imageSize {
	/*width: 100%;*/
	height: 125px;
}
.jokeDiv {
	height: 150px;
}
.buttonTableCell {
	width: 50px;
	text-align: center;
}
.buttonTable {
	margin: auto;
}
.buttonCell {
	padding: 5px;
}
.btn-notes {
	/*background-color: #FFF;*/
	/*font-weight: 800;*/
	font-size: 10px;
	height: 34px;
	/*color: #003366;*/
}
.btn-notes:hover {
	/*background-color: #003366;*/
	/*color: #FFF;*/
}
.btn-width {
	width: 40px;
}
.notesCell {
	text-align: left;
}
.notes-paragraph {
	color: #003366;
}
.itemSeparatorCell {
	background-color: #003366;
}
.formTitle {
	width: 100%;
	text-align: center;
}
footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	background-color: #efefef;
	color: #003366;
	text-align: center;
}
/*footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:20px;
   text-align: center;
}*/