<div class="row create-new-box">
	<h4>Create new:</h4>
</div>
<div class="row margin-10-percent">
	<a ui-sref="home.new-toy" class="btn btn-dark-real" role="button">Toy</a>
	<a ui-sref="home.new-game" class="btn btn-dark-real" role="button">Game</a>
	<a ui-sref="home.new-equipment" class="btn btn-dark-real" role="button">Equipment</a>
	<a ui-sref="home.new-snack" class="btn btn-dark-real" role="button">Snack</a>
	<a ui-sref="home.new-recipe" class="btn btn-dark-real" role="button">Recipe</a>
	<a ui-sref="home.new-lunch" class="btn btn-dark-real" role="button">Lunch</a>
	<a ui-sref="home.new-joke" class="btn btn-dark-real" role="button">Joke</a>
</div>
<div class="row">
	<p>&nbsp;</p>
</div>
<div class="row">
	<div layout-padding>
		<ui-view></ui-view>
	</div>
</div>
