Home
<nav class="navbar navbar-default navbar-static-top">
	<div class="container">
		<p>Create new:</p>
		<p class="navbar-text navbar-left"><a href="/forms/new-toys" class="navbar-link">Toys</a></p>
		<p class="navbar-text navbar-left"><a href="/forms/new-games" class="navbar-link">Games</a></p>
		<p class="navbar-text navbar-left"><a href="/forms/new-snacks" class="navbar-link">Snacks</a></p>
		<p class="navbar-text navbar-left"><a href="/forms/new-recipes" class="navbar-link">Recipes</a></p>
		<p class="navbar-text navbar-left"><a href="/forms/new-jokes" class="navbar-link">Jokes</a></p>
	</div>
</nav>

<!-- <main>
	<ng-view></ng-view>
</main> -->