<script>
	$( function() {
		$( "#sortable" ).sortable({
			update: function( event, ui ) {
				reorderSnacks();
			}
		});
		$( "#sortable" ).disableSelection();
	} );

	function reorderSnacks(event, ui){
		let idArray = [];
		$(".ui-state-default").each(function( e, ui ){
	        let li = $( ui ).find( 'li' );
	        let id = li['prevObject'][0].attributes['id'].value;
	        idArray.push( id );
	    });
        idArray.forEach( function ( id, index ) {
        	let orderNum = index + 1;
			$.ajax('/api/snacks/' + id, {
				method: 'PUT',
				contentType: 'application/json',
				processData: false,
				data: JSON.stringify({
					order: orderNum
				})
			})
			.then(
				function success( data ) {

				}
			);
        })
    }
</script>

<div class="row margin-bottom-15px titleContainerDiv">
	<div class="titleDiv">Snacks</div>
	<div class="addNewButtonDiv">
		<a ui-sref="home.new-snack" class="btn btn-submit margin-top-18px" role="button">Add New Snack</a>
	</div>
</div>

<ul id="sortable" class="noBullets">
	<li id="{{snack.id}}" class="ui-state-default col-sm-6 col-md-6 col-lg-3" ng-repeat="snack in snacks.allSnacks">
		<table id="itemTable" class="table table-bordered itemTable">
			<tbody>
				<tr>
					<td class="itemCell yellowCell titleCell">
						<h5 class="itemName">
							<a href="{{snack.snack_url}}" target="_blank">{{snack.name | limitTo:50}}<span ng-if="snack.name.length > 50">...</span></a>
						</h5>
					</td>
				</tr>
				<tr>
					<td class="itemCell imageCell">
						<div class="imageDiv">
							<a href="{{snack.snack_url}}" target="_blank"><img class="imageSize" src="{{snack.image_url}}"></a>
						</div>
					</td>
				</tr>
				<tr>
					<td class="itemCell grayCell buttonTableCell">
						<table class="grayCell buttonTable">
							<tr>
								<td class="buttonCell">
									<a ui-sref="update-snack({id: snack.id})" class="btn btn-success" role="button"><span class="glyphicon glyphicon-pencil"></span></a>
								</td>
								<td class="buttonCell">
									<button class="btn btn-primary btn-width" ng-click="snacks.moveSnackUp( snack )" ng-disabled="{{snack.order}} == 1 ? true : false"><span class="glyphicon glyphicon-triangle-top"></span></button>
								</td>
								<td class="buttonCell">
									<button type="button" class="btn btn-md btn-submit btn-notes" data-toggle="modal" data-target="#itemModal-{{snack.id}}"><strong>Notes</strong></button>
								</td>
								<td class="buttonCell">
									<button class="btn btn-primary btn-width" ng-click="snacks.moveSnackDown( snack )" ng-disabled="{{snack.order}} == {{snacks.allSnacks.length}} ? true : false"><span class="glyphicon glyphicon-triangle-bottom"></span></button>
								</td>
								<td class="buttonCell">
									<button class="btn btn-danger btn-width" ng-click="snacks.deleteSnack( snack )"><span class="glyphicon glyphicon-remove"></span></button>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="modal fade" id="itemModal-{{snack.id}}" role="dialog">
		    <div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Notes</h4>
					</div>
					<div class="modal-body notes-paragraph">
						<p>{{snack.notes ? snack.notes : 'No notes'}}</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</li>
</ul>
