<h3 class="formTitle">New Toy</h3>
<form ng-submit="createToy.create()" class="margin-10-percent">
  <div class="form-group">
    <label for="newToy-name">Name</label>
    <input ng-model="createToy.newToy.name" type="name" class="form-control" id="newToy-name" placeholder="Enter name">
  </div>
  <div class="form-group">
    <label for="newToy-url">Link</label>
    <input ng-model="createToy.newToy.toy_url" class="form-control" id="newToy-url" placeholder="Enter url">
  </div>
  <div class="form-group">
    <label for="newToy-image">Image</label>
    <input ng-model="createToy.newToy.image_url" class="form-control" id="newToy-image" placeholder="Enter image url">
  </div>
  <!-- <div class="form-group">
    <label for="newToy-price">Price</label>
    <input ng-model="createToy.newToy.price" class="form-control" id="newToy-price" placeholder="Enter price">
  </div> -->
  <div class="form-group">
    <label for="newToy-notes">Notes</label>
    <textarea ng-model="createToy.newToy.notes" class="form-control" id="newToy-notes" rows="5" placeholder="Your thoughts"></textarea>
  </div>
 
  <button type="submit" class="btn btn-submit btn-right">Create New Toy</button>
  <a ui-sref="toys" class="btn btn-submit btn-right margin-right-10px" role="button">Cancel</a>
</form>
