<h3 class="formTitle">New Snack</h3>
<form ng-submit="createSnack.create()" class="margin-10-percent">
  <div class="form-group">
    <label for="newSnack-name">Name</label>
    <input ng-model="createSnack.newSnack.name" type="name" class="form-control" id="newSnack-name" placeholder="Enter name">
  </div>
  <div class="form-group">
    <label for="newSnack-image">Image</label>
    <input ng-model="createSnack.newSnack.image_url" class="form-control" id="newSnack-image" placeholder="Enter image url">
  </div>
 
  <button type="submit" class="btn btn-submit">Create New Snack</button>
</form>
