<h3 class="formTitle">Edit Joke</h3>
<form ng-submit="updateJoke.updateJoke()" class="margin-10-percent">
  <div class="form-group">
  <div class="form-group">
    <label for="selectedJoke-description">Joke</label>
    <textarea ng-model="updateJoke.selectedJoke.description" class="form-control" id="selectedJoke-description" rows="5"></textarea>
  </div>
 
  <button type="submit" class="btn btn-submit btn-right">Update Joke</button>
  <a ui-sref="jokes" class="btn btn-submit btn-right margin-right-10px" role="button">Cancel</a>
</form>
